.own-message {
  position: relative;
  text-align: end;
  margin-bottom: 10px;
  margin-right: 10px;
}

.own-message::after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0;
  height: 20px;
  width: 20px;
  transform: skewX(30deg);
  background-color: #fff;
}

.own-message .message-container {
  grid-template-columns: 1fr;
}

.message-capabilities{
    display: flex;
    gap: 10px;
    align-self: start;
    justify-self: right;
}