.edit-modal-wrapper{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.336);
}

.edit-message-modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}

.modal-header {
  display: flex;
  padding-bottom: 5px;
  border-bottom: 1px solid #a5a6a7;
  margin-bottom: 20px;
}

.modal-title{
  font-weight: 700;
}

.edit-message-close {
  margin-left: auto;
}

.modal-icon {
  height: 20px;
}

.edit-message-input {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  height: 85px;
  resize: none;
  border-radius: 3px;
  border: 1px solid #799eac;
  margin-bottom: 20px;
}

.edit-message-input:focus-visible {
  outline: 2px solid #799eac;
  outline-offset: -1px;
}

.edit-message-button{
    padding: 5px 0 7px;
    background: #b3e8fc;
}