* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: transparent;
  color:inherit;
  font-size: inherit;
  font-family: inherit;
}

.chat {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0 40px;
  height: 100vh;
  color: #333;
}

.chat-wrapper{
  height: 100%;
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #85acbb;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #63818d;
}

::-webkit-scrollbar-track {
  background: #abdef1;
  border-radius: 2px;
}

::-webkit-scrollbar-button {
  width: 3px;
  height: 3px;
}
